::selection {
    color: yellow;
    background-color: rgba(0, 0, 0, 0.4);
}

body {
    font-family: Verdana;
    background-color: #8ca0d7;
    background-image: url('img/fondolento.gif');
    background-size: cover;
    height: auto;;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(23,143,531,0.1);
}

nav h1 {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color: #ccc;
    background-color: rgba(23,143,531,0.1);
    margin-bottom: 0;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 0px;
}

li a {
    float: right;
    display: block;
    color: #a14da0;
    padding: 8px 16px;
    text-decoration: none !important;
    text-align: center;
}

li a:hover:not(.active) {
    background-color: #9d79bc;
    color: white;
}

li a.active {
    background-color: #7e1f86;
    color: white;
}

.container {
    padding: 40px 60px;
    background-color: rgba(10, 10, 19, 0.7);
    height: auto;
    margin-top: 1em;
}

article {
    color: #ccc;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

article h3 {
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table, th, td {
    padding: 5px;
    margin: 20px;
    margin-left: 0;
    border: 1px solid white; 
    border-collapse: collapse;
}

table {
    width: auto;
    margin: 0 auto;
}

th {
    text-align: center;
}

td {
    padding: 5px 10px;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 0;
}

summary {
    font-size: x-large;
    margin: 20px;
}

#marginizartop {
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-gif {
    padding: 20px;
    width: 50vh;
}

.flex-p {
    flex: 1 1 0px;
    padding: 20px;
    width: 400px;
}

.flex-vert-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.let {
    background-color: rgb(40,41,41);
    font-size: 80%;
    padding: 20px;
    width: 50vh;
    text-align: justify;
    margin-bottom: 0;
    box-shadow: 0 0 25px rgba(124,0,0,0.2), 0 0 80px rgba(0,0,124,0.5), 0 0 10px rgba(90,90,90,0.7);
    border-radius: 30px;
}

.flex-comida-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.comigiflex {
    flex: 0 1 0;
}

#rip {
    position: fixed;
    right: 10px;;
    bottom: 10px;
    height: 20px;
    font-size: 0.5em;
}

button {
    width: auto;
    background-color: rgba(255, 100, 100, 0.5);
    color: black;
    font-weight: bold;
}

.nopadtop {
    padding-top: 0;
}

label {
    color: #ccc;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.caps {
    position: sticky;
    top: 0;
    background-color: rgba(50, 50, 95, 0.5);
    width: 80%;
    border-radius: 20px;
    padding: 2px;
}

.caps a {
    color: #ccc;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.caps a:hover {
    color: white;
    text-shadow: none;
    text-decoration: none;
}

#nomargtop {
    margin-top: 0;
}

#nopadbot {
    padding-bottom: 0;
    border-radius: 30px;
}

#ayanami-rei {
    border-radius: 500px;
}

#gatopizza {
    border: 2px dotted silver;
}

select {
    color: #ccc;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    border: 0;
    background-color: rgba(10, 10, 19, 0.7);
}
